<div>
  <h1 class="animated fadeIn">{{ heroe.nombre | uppercase }}</h1>
  <small>({{ heroe.aparicion | date:"y" }})</small>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <img [src]="heroe.img" class="img-fluid" alt="{{ heroe.nombre }}" />
      <br /><br />
      <a routerLink="/heroes" class="btn btn-outline-danger btn-block w-100"
        >Regresar</a
      >
    </div>
    <div class="col-md-8">
      <h3>{{ heroe.nombre }}</h3>
      <hr />
      <p>{{ heroe.bio }}</p>
      <div>
        <img
          *ngIf="heroe.casa === 'DC'"
          src="assets/img/DG2.png"
          width="86"
          height="82"
          alt="Descripción de DG2"
        />
        <img
          *ngIf="heroe.casa === 'Marvel'"
          src="assets/img/Marvel.png"
          width="86"
          height="82"
          alt="Descripción de Marvel"
        />
      </div>
    </div>
  </div>
</div>
